USE [master]
GO
/****** Object:  Database [BD_Demo]    Script Date: 05/11/2018 23:27:46 ******/
CREATE DATABASE [BD_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BD_Demo.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_Demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BD_Demo_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Demo]
GO
/****** Object:  Table [dbo].[Ta_Alumno]    Script Date: 05/11/2018 23:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ta_Alumno](
	[Codigo] [varchar](8) NOT NULL,
	[Nomnre] [varchar](20) NOT NULL,
	[AP] [varchar](20) NOT NULL,
	[AM] [varchar](20) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ta_Asiganatura]    Script Date: 05/11/2018 23:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ta_Asiganatura](
	[Codigo] [varchar](8) NOT NULL,
	[Credito] [int] NOT NULL,
	[Categoria] [varchar](5) NOT NULL,
	[PreRequisito] [varchar](20) NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Sumilla] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
